body{
  background-color: rgb(33, 33, 36);
}

.grid-container-board {
  // border: 1px solid rgba(0, 0, 0, 0.8);

  display: grid;
  grid-template-columns: auto auto auto;
  // grid-template-rows: auto auto auto;
  column-gap: 0;
  row-gap: 0;
  // background-color: #2196F3;
  // padding: 10px;
  position: relative; /* If you want text inside of it */
  width: 70%;
  max-width: 900px;
  max-height: 900px;
  margin: auto;
    
}
.grid-item-board {
  // background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  // padding: 20px;
  font-size: 30px;
  text-align: center;

  max-height: 300px;
  height: 0;
  max-width: 300px;

  display: block;
  width: 100%;
  padding-top: 100%;
  // padding: max(150px);
  position: relative;
}

#grid-item-2{
  transform: rotate(180deg);
  z-index: 5;
}
#grid-item-4{
  transform: rotate(90deg);
  z-index: 5;
}
#grid-item-6{
  transform: rotate(-90deg);
  z-index: 5;
}
#grid-item-8{
  // transform: rotate(90deg);
  z-index: 5;
}

#center{
  // position: relative;
  height: 145px;
  width: 230px;

  // margin: auto;
  // display: grid;

  // background-color: black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#deck1:hover, #pile1:hover{
  transform: scale(1.01);
}

#handDiv1{
  // margin-left: -25px;
  z-index: 5;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
#handDiv2{
  // margin-left: -25px;
  z-index: 5;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
#handDiv3{
  // margin-left: -25px;
  z-index: 5;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#handDiv4{
  // margin-left: -25px;
  z-index: 5;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#grid-item-center{
  transition: all 0.75s linear;
}

.cardImg{
  width: 100px;
}
// .deckHand{
//   transition: all 0.75s linear;
// }
.cardImg{
  transition: all 0.75s linear;
}

#tableInner{
  transition: all 0.75s linear;
}
#tableOuter{
  overflow: hidden;
}
// #pile1{
//   position: relative;
//   width: 100px;
//   height: 145px;
//   margin: 0;

//   z-index: 5;
// }
// #deck1{
//   position:relative;
//   width: 100px;
//   height: 145px;

//   top:0px;
//   left: 120px;
//   margin: 0;

//   z-index: 5;
// }

#deck1:hover, #pile1:hover {
  transform: scale(1.1);
}

.grid-container-center{
  display: grid;
  grid-template-columns: auto auto;
}

// .grid-item1-center{
//   grid-column-start: 1;
//   grid-column-end: 1;
//   margin: auto;
// }
// .grid-item2-center{
//   grid-column-start: 2;
//   grid-column-end: 2;
//   margin: auto;
// }